/* Remova todos os estilos anteriores e deixe apenas o necessário */
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* Classes de suporte para animações e efeitos */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}